body {
  background-color: lightgray;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
}

#cards {
  color: darkgrey;
  height: 392px;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  padding: 10px;
  background-color: darkolivegreen;
  border: 2px solid firebrick;
  border-radius: 32%;
  box-shadow: 2px 3px darkgrey;
}

h2 {
  text-decoration: underline;
}

#buttons {
  margin-top: 20px;
  text-align: center;
}

span {
  padding: 10px;
  display: inline-block;
  line-height: 1.5em;
  height: 48px;
  width: 32px;
}


#result {
  text-align: center;
  color: red;
  padding: 30px;
}

#submit {
  float: right;
}

#player-cards span{
  background-color: white;
  margin: 2px;
  border-radius: 10%;
}

#dealer-cards span {
  background-color: white;
  margin: 2px;
  border-radius: 10%;
}

#submit {
  padding: 20px;
}


/* JQuery animate, css transform

/**/
