body {
  background-color: lightgray;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
}

#cards {
  color: darkgrey;
  height: 350px;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  padding: 10px;
  background-color: darkolivegreen;
  border: 2px solid firebrick;
  border-radius: 32%;
  box-shadow: 2px 3px darkgrey;
}

h2 {
  text-decoration: underline;
}

#buttons {
  text-align: center;
}

span {
  padding: 10px;
}


#result {
  text-align: center;
}






/**/
